@font-face {
  font-family: Exan;
  src: url(Exan-Regular.ttf);
  font-weight: bold;
}

html{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(255, 255, 255);
  background-repeat: repeat;
  background-position: 0%;
  background-origin: 0%;
  background-size: cover;
  margin:0%;
  
}
nav{
  background-color: rgb(36, 28, 18);
  padding-left: 15%;
  padding:2%;
}   
@media only screen and (max-width: 768px){
  nav {
      padding:2%; 
  }
}
@media only screen and (max-width: 414px){
  nav {
      padding-left:2%;
      padding-right: 2%;
      padding-top: 5%;
      padding-bottom: 5%;
  }
}     
nav .button1{
  background-color: inherit;
  margin-left: 65%;
  border: none;
  cursor: pointer;
  font-size:small;
  color:aliceblue;
  box-shadow: 1.5px 1.5px 1.5px 1.6px #ffff;
}
@media only screen and (max-width: 1080px){
  nav .button1{
      margin-left:55%;
      font-size:small;
  }
}
@media only screen and (max-width: 768px){
  nav .button1{
      margin-left:35%;
      font-size:small;
  }
}
@media only screen and (max-width: 414px){
  nav .button1{
      margin-left:35%;
      font-size:small;
  }
}
nav button{
  background-color: inherit;
  margin-left: 3%;
  border: none;
  cursor: pointer;
  font-size:small;
  color:aliceblue;
  box-shadow: 1.5px 1.5px 1.5px 1.6px #ffff;
}
button:hover{
  background-color: rgb(134, 15, 124);
  box-shadow: 1.5px 1.5px 1.5px 1.6px #0000;
}
@media only screen and (max-width: 768px){
  nav button{
      font-size:10px;
      margin-left: 3%;
      font-size:small;
  }
  
}
@media only screen and (max-width: 414px){
  nav button{
      margin-top: 1%;
      font-size:small;
  }
}
.marque{
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
  text-align: center;
}
@media only screen and (max-width: 600px){
  .marque{
      margin-top: 6%;
  }
}
@media only screen and (max-width: 960px){
  .marque{
      margin-top: 10%;
      margin-bottom: 2%;
  }
}
.main{
  margin-left:15%;
  margin-right:15%;
  margin-bottom: 1%;
}
@media only screen and (max-width: 600px){
  .main{
      margin-bottom: 1%;
  }
}
@media only screen and (max-width: 960px){
  .main{
      margin-bottom:3%;
  }
}
.mmain{
  margin-left:15%;
  margin-right:15%;
  margin-bottom: 1%;
}
@media only screen and (max-width: 600px){
  .mmain{
      margin-bottom: 1%;
  }
}
@media only screen and (max-width: 960px){
  .mmain{
      margin-bottom: 3%;
  }
}
.fmain{ 
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
}
@media only screen and (max-width: 600px){
  .fmain{
      margin-bottom: 4%;
  }
}
@media only screen and (max-width: 960px){
  .fmain{
      margin-bottom: 4%;
  }
}
.mar{
  padding:1%;
  text-align: center;
}
.content{
  font-style: italic;
  
}
footer{
  background-color: rgb(36, 28, 18);
  padding:2%;
}
@media only screen and (max-width: 600px){
  footer{
      padding:4%;
  }
}
@media only screen and (max-width: 960px){
  footer{
      padding:6%;
  }
}
@media only screen and (max-width: 414px){
  footer{
      padding:6%;
  }
}
footer .foot .fbutton{
  margin-left: 45%; 
  border: none;
  cursor: pointer;  
  box-shadow: 0px 2px 0px 0px #ffff; 

}
@media only screen and (max-width: 600px){
  footer .foot .fbutton{
      margin-left: 35%;
      
  }
}
@media only screen and (max-width: 960px){
  footer .foot .fbutton{
      margin-left: 40%;
  }
}
@media only screen and (max-width: 414px){
  footer .foot .fbutton{
      margin-left: 30%;
  }
}
footer .foot .fbutton:hover{
  box-shadow: 0px 2px 0px 0px #0d0c0c;     
}
footer .foot .button{
  margin-left: 2%; 
  border: none;
  cursor: pointer;  
  box-shadow: 0px 2px 0px 0px #ffff; 
}
@media only screen and (max-width: 600px){
  footer .foot .button{
      margin-left: 4%;
  }
}
@media only screen and (max-width: 960px){
  footer .foot .button{
      margin-left: 3%;
  }
}
.l{
  font-size: medium;
}
@media only screen and (max-width: 600px){
  .l{
      text-align: center;
  }
}
@media only screen and (max-width: 960px){
  .l{
      margin-left: 3%;
  }
}
footer .foot .button:hover{
  box-shadow: 0px 2px 0px 0px #0d0c0c;     
}
footer .foot .bbutton{
  margin-left: 2%; 
  border: none;
  cursor: pointer;  
  box-shadow: 0px 2px 0px 0px #ffff;  
}
@media only screen and (max-width: 600px){
  footer .foot .bbutton{
      margin-left: 2%; 
  }
}
@media only screen and (max-width: 960px){
  footer .foot .bbutton{
      margin-left: 3%; 
  }
}
footer .foot .bbutton:hover{
  box-shadow: 0px 2px 0px 0px #0d0c0c;     
}
.pic{
  width: 30px;
  height: 30px;
}
.pic1{
  width: 35px;
  height: 35px;
}
